<div class="container">
    <div class="row">
        <div class="col-auto footer_logo ">TAGOPLUS</div>
        <div class="col-sm-8 footer_detail">
            <p>주식회사 타고플러스</p>
            <p>
                <span>서울 금천구 가산디지털1로 5 대륭테크노타운20차 402호</span>
                <span>TEL:1644-5805</span>
                <span>FAX: 02-6919-1793</span>
                <span>사업자등록번호: 113-86-13483</span>
                <span>통신판매번호: 구로 제 2008-00086호</span>
                <span>대표 : 문양희</span>
                <span>개인정보관리책임자 : 박영진</span>
            </p>
            <p>Copyright @ 2008 타고플러스. All Right Reserved</p>
        </div>
    </div>
</div>