<div class="side_nav" data-suffix="member" id="aaa">
    <h1 class="head">회원</h1>
    <ul class="side_menu">
        <li>
            <a href="login.html">로그인</a>
        </li>
        <li>
            <a href="register.html">회원가입</a>
        </li>
        <li>
            <a href="forgot_password.html">ID/PWD찾기</a>
        </li>
    </ul>
</div>
<div class="side_nav" data-suffix="project_add">
    <h1 class="head">프로젝트 등록</h1>
    <ul class="side_menu">
        <li>
            <a href="project_add.html">프로젝트 등록</a>
        </li>
    </ul>
</div>
<div class="side_nav" data-suffix="project_search">
    <h1 class="head">프로젝트 찾기</h1>
    <ul class="side_menu">
        <li>
            <a href="project_search.html">프로젝트 찾기</a>
        </li>
    </ul>
</div>

<div class="side_nav" data-suffix="mypage">
    <h1 class="head">프로젝트 찾기</h1>
    <ul class="side_menu">
        <li>
            <a onclick="sideMenu(this,event)" href="project_search.html">내 프로필</a>
            <dl>
                <dd><a href="project_search.html">- 자기소개</a></dd>
                <dd><a href="project_test.html">- 포토폴리오</a></dd>
                <dd><a href="">- 보유기술</a></dd>
                <dd><a href="">- 경력</a></dd>
                <dd><a href="">- 학력</a></dd>
                <dd><a href="">- 자격증</a></dd>
            </dl>
        </li>
        
        <li>
            <a href="project_search.html">지원요청</a>
        </li>
        <li>
            <a href="project_search.html">지원내역</a>
        </li>
        <li>
            <a href="project_search.html">진행중인 프로젝트</a>
        </li>
        <li>
            <a href="project_search.html">종료된 프로젝트</a>
        </li>
        <li>
            <a href="project_search.html">최소된 프로젝트</a>
        </li>
    </ul>
</div>